:ruby
  scoped = (scoped_user and [scoped_user, blog] or blog)
  
= form_for scoped do |f|
  = render :partial => "shared/errors", :locals => { :record => blog }
  
  - if scoped_user
    = f.hidden_field :user_id, :value => scoped_user.id
  - else
    .field
      = f.label :user_id
      %br
      = collection_select(:blog, :user_id, User.all, :id, :username, :prompt => true)
      
  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :description
    %br
    = f.text_field :description
    
  .actions
    = f.submit
