= form_for user do |f|
  = render :partial => "shared/errors", :locals => { :record => user }
  
  .field
    = f.label :username
    %br
    = f.text_field :username
  .field
    = f.label :email
    %br
    = f.text_field :email
    
  - for role in Role.all
    .field
      = check_box_tag "user[applied_roles][]", role.id, user.roles.include?(role)
      = label_tag role.name
  .actions
    = f.submit
