%h1
  Listing users

- content_for :fancygrid_buttons do
  = link_to 'New User', new_user_path
  
= fancygrid :users do |column, record, value|
  - case column.name
  - when :actions
    = link_to "Blogs", user_blogs_path(record)
    |
    = link_to "Edit", edit_user_path(record)
    |
    = link_to "Delete", user_path(record), :method => :delete, :confirm => "Delete?"


